.weather-search__form {
  position: relative;
}

.weather-search__city-list {
  margin: 0;
  padding: 0;
  background: white;
  position: absolute;
  top: 2rem;
  width: 100%;
  min-height: calc(1.25rem * 2);
  max-height: calc(1.25rem * 6); /* show five cities max */
  overflow-y: auto;
  list-style-type: none;
  border: 1px solid black;
  outline: none;
}

.weather-search__city-list button {
  width: 100%;
}

.forecast {
  display: column;
}

.forecast__card {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0;
}

.forecast .forecast__card:nth-child(odd) {
  background-color: #f9f9f9;
}
